@import url("./Assets/fonts/stylesheet.css");

body {
  margin: 0;
  font-family:'SF Pro Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-main-color: #050411;
  --bg-gradient: linear-gradient(180deg, #952EF1 -9.76%, #17C4E7 277.44%);
  
  --footer-height: 72px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
